.bubblesortControlBox{
  --col-size:5rem;
  --row-size:2rem;
  line-height: 2rem;
  display: grid;
  grid-template-areas:
    ". . label-list-controls label-list-controls label-list-controls label-list-controls . ."
    "label-size label-size input-size input-size label-display label-display input-display input-display"
    "label-randomize label-randomize input-randomize input-randomize label-shuffle label-shuffle input-shuffle input-shuffle"
    ". play play reset next prev end .";
  grid-template-columns:  var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size);
  grid-template-rows:  var(--row-size) var(--row-size) var(--row-size) var(--row-size)  ;
  border: dashed 1px;
  width: fit-content;
  margin: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
}

.label{
  text-align: right;
}