@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-fade: #0000001e;
  --foreground: #171717;
  --secondary-background:#aaaaaa;
  interpolate-size: allow-keywords;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-fade:var(--backgound-fade)
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-fade: #ffffff1e;
    --secondary-background: #333333;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-areas:
    "sb sb-btn tit"
    "sb sb-btn bod";
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 35ch 1rem 1fr;
  min-height: 100vh;
  transition: 300ms ease-out;
}

.title-bar {
  grid-area: tit;
  border-bottom: solid red;
  padding:1rem 0 0 1rem;
}

/*
Side bar
*/
.hide-sidebar {
  grid-template-columns: 0 1rem 1fr;
}

.sidebar-content {
  grid-area: sb;
  margin: .5rem .5rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-slider {
  grid-area: sb-btn;
  border-right: solid white;
  background-color: var(--background-fade);
}

/*
Collapsable card
*/
.collapsable-card{
  --card-time:700ms;
  width: fit-content; 
  min-width: 15rem; 
  margin-right: 2rem;
  overflow: hidden;
  position: relative;
}
.collapsable-card-title{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
}
.card-body{
  transition: max-height var(--card-time) ease,visibilty var(--card-time);
  height: auto;
  visibility: true;
  max-height: 15rem;
  transition: var(--card-time) ease;
}
.hide-card{
  max-height: 0rem;
  visibility: false;
  pointer-events: none;
}

/*
Directory
*/
.directory{
  margin-left: 1rem;
}
.directory-link{
  position: relative;
}
.directory-link::before{
  position: absolute;
  content: '\2937';
  font-size: 75%;
  left: -1.5ch;
  top:.2ch  
}

.main-content {
  grid-area: bod;
}


.horizontal-list{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/*
Number Boxes
*/
.number-box{
  --box-size:3rem;
  outline: solid 1px;
  width:var(--box-size);
  height:var(--box-size);
  display: grid;
  place-content: center;
}
.number-list{
  transition:  order 1s;
}

/*
Bar Boxes
*/
.bar-box{
  outline: 1px solid;
  flex-grow: 1;
  background-color: var(--secondary-background);
  max-width: 100px;
}

.bar-list{
  gap: 0;
  margin: 1rem;
}

/*
BubbleSort controls
*/

.bubblesort-control-box{
  --col-size:5rem;
  --row-size:1.5rem;
  line-height: 1.5rem;
  display: grid;
  grid-template-areas:
    "label-list-controls label-list-controls label-list-controls label-list-controls"
    "label-size label-size input-size input-size"
    "label-randomize label-randomize input-randomize input-randomize"
    "label-shuffle label-shuffle input-shuffle input-shuffle"
    "play stop reset .";
  grid-template-columns:  var(--col-size) var(--col-size) var(--col-size) var(--col-size) ;
  grid-template-rows: var(--row-size) var(--row-size) var(--row-size) var(--row-size) var(--row-size)  ;
  border: dashed 1px;
  width: fit-content;
  margin: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  row-gap: .5rem;
  column-gap: 1rem;
}


.bubblesort-label{
  text-align: right;
}



/*
General
*/

.green-border{
  outline: green solid 3px;
}

.green-bg{
  background-color: green;
}