@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-fade: #0000001e;
  --highlight: #00f7ff;
  --foreground: #171717;
  --secondary-background:#aaaaaa;
  interpolate-size: allow-keywords;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-fade:var(--backgound-fade)
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-fade: #ffffff1e;
    --secondary-background: #333333;
    --foreground: #ededed;
    --highlight:#4c00ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


main {
  position: relative;
  display: grid;
  grid-template-areas:
    "sb sb-btn tit"
    "sb sb-btn bod";
  grid-template-rows: 6rem 10fr;
  grid-template-columns: 35ch auto 1fr;
  min-height: 100vh;
  transition: 300ms ease-out;
  max-width: 100vw;
}
.basic-button{
  background-color: var(--background);
}

button{
  background-color: var(--highlight);
  padding: .3rem;
  border-radius: 1rem;
  line-height: 1rem;
  cursor: pointer;
}

.main-content{
  max-width: 100vw;
}

.main-content-wrapper{
  max-width: 100%;
}

.title-bar {
  grid-area: tit;
  border-bottom: solid red;
  padding:1rem 0 0 1rem;
}

/*
Side bar
*/
.hide-sidebar {
  grid-template-columns: 0 1rem 1fr;
}

.sidebar-content {
  grid-area: sb;
  margin: .5rem .5rem 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-slider {
  grid-area: sb-btn;
  border-right:  2px solid white;
  background-color: var(--background-fade);
  border-radius: 0;
  padding: 0;
}

/*
Collapsable card
*/
.collapsable-card{
  --card-time:700ms;
  width: fit-content; 
  min-width: 15rem; 
  margin-right: 2rem;
  overflow: hidden;
  position: relative;
}
.collapsable-card-title{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
}
.card-body{
  transition: max-height var(--card-time) ease,visibilty var(--card-time);
  height: auto;
  visibility: true;
  max-height: 15rem;
  transition: var(--card-time) ease;
}
.hide-card{
  max-height: 0rem;
  visibility: false;
  pointer-events: none;
}

/*
Directory
*/
.directory{
  margin-left: 1rem;
}
.directory-link{
  position: relative;
}
.directory-link::before{
  position: absolute;
  content: '\2937';
  font-size: 75%;
  left: -1.5ch;
  top:.2ch  
}

.main-content {
  grid-area: bod;
}


.horizontal-list{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/*
Number Boxes
*/
.number-box{
  --box-size:3rem;
  outline: solid 1px;
  width:var(--box-size);
  height:var(--box-size);
  display: grid;
  place-content: center;
}
.number-list{
  flex-wrap: wrap;
  margin: 1rem;
}

/*
Bar Boxes
*/
.bar-box{
  flex-grow: 1;
  background-color: var(--secondary-background);
  max-width: 100px;
  box-sizing: border-box;
}

.bar-list{
  gap: 0;
  margin: 1rem;
}

/*
BubbleSort controls
*/
.bs-info-box{
  display: flex;
  flex-direction: row;
}

.bubblesort-control-box{
  --col-size:5rem;
  --row-size:2rem;
  line-height: 2rem;
  display: grid;
  grid-template-areas:
    ". . label-list-controls label-list-controls label-list-controls label-list-controls . ."
    "label-size label-size input-size input-size label-display label-display input-display input-display"
    "label-randomize label-randomize input-randomize input-randomize label-shuffle label-shuffle input-shuffle input-shuffle"
    ". play play reset next prev end .";
  grid-template-columns:  var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size) var(--col-size);
  grid-template-rows:  var(--row-size) var(--row-size) var(--row-size) var(--row-size)  ;
  border: dashed 1px;
  width: fit-content;
  margin: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
}


.bubblesort-label{
  text-align: right;
}

.bubble-sort-info-box{
  margin:  2rem 3rem;
  display: grid;
  grid-template-areas: 
  "title title"
  "left right";
  place-content: center;
  gap: .5rem;
  border: dashed 1px;
  padding: 2rem;
  flex-grow: 1;
  border-radius: 1rem;
}

.bubble-sort-col{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 
    "top-left top-right"
    "mid-left mid-right"
    "bot-left bot-right";
}

/*
General
*/

.green-border{
  border: green solid 5px;
}

.green-bg{
  background-color: green;
}

@media only screen and (max-width:1630) {
  .bs-info-box{
    flex-direction: column;
  }
  .bubble-sort-info-box{
    margin: 0 auto 0 2rem;
    flex-grow: 0;
  }
}

@media only screen and (max-width:1160){
  .bubblesort-control-box{
    --col-size:10rem;
    grid-template-areas: "label-list-controls label-list-controls"
    "label-size input-size"
    "label-display input-display"
    "label-randomize input-randomize"
    "label-shuffle input-shuffle"
    "play play"
    "next prev"
    "reset end";
    grid-template-columns: repeat(2,var(--col-size));
    grid-template-rows: repeat(7,--row-size);
  }
  .bubblesort-label{
    text-align: center;
  }
}
@media only screen and (max-width:780){
  .bs-info-box{
    display: none;
  }
  .bs-info-box-compressed{
    display: flex;
  }
}